.newsdetails {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.newsdetails .newsdetails-content {
  max-width: 60%;
}
.newsdetails .text-animate {
  text-align: start;
}
.newsdetails .newsdetails-content h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
}
.newsdetails p {
  width: 100%;
  opacity: 0.5;
  font-size: 1.6rem;
  height: 200px;
  white-space: pre-line;
  margin: 2rem 0 4rem;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--spancolor) transparent;
}

.newsdetails .newsdetails-img {
  position: relative;
  width: 35rem;
  height: 35rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsdetails .newsdetails-img img {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  width: 100%;
  height: 100%;
  border-radius: 1.8rem;
}

@media (max-width: 650px) {
  .newsdetails .newsdetails-content {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 420px) {
  .newsdetails .newsdetails-content h1 {
    font-size: 2.5rem;
  }
}
