.home {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.home .home-content {
  max-width: 60rem;
}
.home .text-animate {
  text-align: start;
}
.home .home-content h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
}

.home .home-content p {
  opacity: 0.5;
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}
.home .btn:focus {
  background: linear-gradient(var(--black), var(--spancolor));
}
.home .btn {
  position: inline-block;
  border: none;
  outline: none !important;
  padding: 1rem 2.8rem !important;
  margin-left: 0.4rem;
  background: linear-gradient(var(--black), var(--spancolor)) !important;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--white) !important;
  letter-spacing: 0.1rem;
  font-weight: 800;
}

.home .rwobtn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.home .Discovery {
  text-decoration: none;
  color: var(--black) !important;
  cursor: pointer;
  margin-top: 1rem 2.8rem;
  transition: 0.5s ease;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}
.home .Discovery i {
  margin: 0 10px;
  color: var(--spancolor);
  font-size: 3rem;
}

.home .home-img {
  position: relative;
  width: 35rem;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .home-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(var(--black), var(--spancolor)) !important;

  border: 0.2rem solid var(--main-color);
}

@media (max-width: 418px) {
  .rwobtn {
    justify-content: center;
  }
}

@media (max-width: 810px) {
  .home {
    justify-content: center;
  }
  .home .home-content {
    width: auto;
  }
  .home .home-content h1 {
    font-size: 2.5rem;
  }
  .home .home-img {
    width: 30rem;
    height: 30rem;
  }
}
@media (max-width: 1135px) {
  .home .home-content {
    max-width: 40rem;
  }
}
