.course .heading {
  font-size: 3rem;
  margin-bottom: 4rem;
  text-align: center;
  position: relative;
}

.course .heading span {
  position: relative;
  color: var(--black);
}

.course .heading span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: var(--spancolor);
}
.course .button-group {
  text-align: center;
  margin-bottom: 40px;
  overflow-x: auto;
  scrollbar-color: var(--spancolor) transparent;
  scrollbar-width: thin !important;
  white-space: nowrap;
}
.course .button-group .button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: transparent;
  color: var(--black) !important;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 4rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.course .button-group .button.active {
  background: linear-gradient(var(--black), var(--spancolor)) !important;

  color: var(--white) !important;
}
.course .button-group .button:hover {
  background: linear-gradient(var(--black), var(--spancolor)) !important;

  color: var(--white) !important;
}
.course div.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.course div.gallery > * {
  justify-self: start !important;
  align-self: start !important;
}

.course .card {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  padding-inline: 5px;
  border-radius: 0.8rem;
  margin-block: 15px;
  background-color: transparent !important;
  animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.course .card img {
  cursor: pointer;

  margin-block: 5px;
  border-radius: 0.8rem;
  height: 300px;
  width: 100%;
}
.course .panel {
  cursor: pointer;
  padding: 15px 20px;
}
.course .panel .customer {
  cursor: pointer;
  margin-block: 15px;
  font-size: 1.2rem;
  color: var(--black);
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: center;
  gap: 20px;
}
.course span.date {
  cursor: pointer;

  color: var(--black);
  font-size: 1.1rem;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course .btn {
  position: inline-block;
  border: none;
  outline: none !important;
  padding: 1rem 2.8rem !important;
  margin-left: 0.4rem;
  background: linear-gradient(var(--black), var(--spancolor)) !important;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--white) !important;
  letter-spacing: 0.1rem;
  font-weight: 800;
}
